# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# .bak files
*.bak

testServer/
development.ppk
classes/